html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  font-size: 16px;
  /* transition: all .8s linear; */
  background-color: #222222;
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p,
a{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
img{
  max-width: 100%;
}
.body-container{
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.project-link-content{
  padding: 0 30px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  transition: background-color .3s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.project-link-content:hover{
  background-color: #FFFFFF20;  
}
.project-link-content:active{
  background-color: #FFFFFF40;  
}
.pagination-button{
  height: 37px;
  width: 37px;
  background-color: #222222;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  transition: background-color .2s ease;
  justify-content: center;
}
.pagination-button:hover{
  cursor: pointer;
  background-color: #FFFFFF20;  
}
.pagination-button:active{
  background-color: #FFFFFF40;  
}
.pagination-button-disabled{
  background-color: #666666;  
  border: none;
}
.pagination-button-disabled svg{
  stroke: #ffffff50;
}
.pagination-button-disabled:hover{
  background-color: #666666;  
  cursor: default;
}
.pagination-button-disabled:active{
  background-color: #666666;   
}
/* .section-1{
  height: calc(100vh - 100px);
  background-color: blue;
}
.section-1 img{
  width: 100%;
}
.section-2{
  height: calc(100vh - 100px);
  background-color: red;
} */
