.section-2{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  /* height: min(600px, calc(100vh - 100px)); */
}
.section-2-title{
  margin-bottom: 20px;
  font-size: 32px;
}
.section-2-pagination{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.section-2-projects{
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.swiper-slide-right-image-container img{
  border-radius: 12px;
  overflow: hidden;
}
.swiper-slide-left-title{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}
.swiper-slide-left-subtitle{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.swiper-slide-left-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 38px;
}
.swiper-slide-left-separator{
  margin-bottom: 38px;
  height: 1px;
  width: 150px;
  background-color: #FFFFFF80;
}
.swiper-slide-left-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.swiper-slide-left-links .project-link{
  margin-right: 12px;
  margin-bottom: 12px;
}
.section-2-pagination--left{
  margin-right: 12px;
}
.section-2-pagination--left svg{
  margin-right: 4px;
}

.project-countries-slide .swiper-slide-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-countries-slide .swiper-slide-right{
  display: flex;
  align-items: center;
}
.skill-row-disabled {
  display: none;
}
@media (max-width: 992px){
  .swiper-slide{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .swiper-slide-left{
    grid-row: 2/3;
  }
  .swiper-slide-left-links{
    flex-wrap: wrap;
  }
  .swiper-slide-left-links .project-link{
    margin-bottom: 12px;
    width: 100%;
  }
  .swiper-slide-left-text{
    /* font-size: 16px; */
  }
}
@media (max-width: 789px){
  .section-2-title{
    border-bottom: 1px solid #FFFFFF30;
    padding-bottom: 7px;
  }
  .section-2-projects{
    padding: 10px 0;
  }
  .swiper-slide{
    row-gap: 20px;
  }
  .swiper-slide-left-separator{
    margin-bottom: 24px;
  }
  .swiper-slide-left-title{
    font-size: 24px;
  }
  .swiper-slide-left-text{
    font-size: 16px;
    margin-bottom: 24px;
  }
}
@media (max-width: 540px){
  .swiper-slide-left-text{
    font-size: 14px;
    margin-bottom: 20px;
  }
}